.details {
    justify-content: space-between;
    max-width: var(--size-max-width);
    align-items: center;
    margin: 0 auto;
    padding: var(--space-2xl) var(--size-gutter);
    
  }

  .details div {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .details div p {
    margin-right: var(--space-lg);
  } 
  .details img {
    align-items: center;
  }

  h3 {
    text-transform: uppercase;
    border-top: 10px solid var(--green);
    position: relative;
    font-size: clamp(20px, 2.5vw, 34px);
    padding-top: 1rem;
    margin-bottom: 0;
  }
  h3:after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    border: 1.5vw solid var(--white);
    right: 0px;
    top: -2.5vw
  }
